
<h3> {{ legend }} </h3>
<div class="input-group">
    <input #txtProgress type="number" class="form-control text-center" name="percentage" [(ngModel)]="percentage" (ngModelChange)="onChanges($event)" min="1" max="100">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-primary" type="button" (click)="changeValue(+5)" > <i class="mdi mdi-plus"></i> </button>
      <button class="btn btn-outline-primary" type="button" (click)="changeValue(-5)" ><i class="mdi mdi-minus"></i></button>
    </div>
</div>
