<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Buscar usuario"
                    (keyup)="search( txtTerm.value )"
                    #txtTerm
                >
            </div>
        </div>
    </div>
</div>

<div 
    class="row animated fadeIn fast"
    *ngIf="loading"
>
    <div class="col-12">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando...</h4>
          <i class="fa fa-spinner fa-spin fa-refresh fa-2x" ></i>
          <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <h6 class="card-subtitle">Usuarios registrados ({{ totalUsers }})</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100 text-center">Imagen</th>
                                <th class="text-center" >Nombre</th>
                                <th class="text-center">Email</th>
                                <th class="w100 text-center w140" >Role</th>
                                <th class="w100 text-center" >Autenticación</th>
                                <th class="text-nowrap text-center w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users" >
                                <td class="text-center" > 
                                    <img 
                                        class="avatar cursor" 
                                        [src]="user.imageUrl"
                                        alt="Imagen de usuario"
                                        (click)="openModal( user )"
                                        > </td>
                                <td> {{ user.name }} </td>
                                <td> {{ user.email }} </td>
                                <td>
                                    <select 
                                        class="form-control"
                                        [(ngModel)]="user.role"
                                        (change)="changeRole( user )"
                                    >
                                        <option value="ADMIN_ROLE">Admin</option>
                                        <option value="USER_ROLE">User</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="user.google" class="label label-danger" >Google</span>
                                    <span *ngIf="!user.google" class="label label-info" >Email</span>
                                </td>
                                <td class="text-nowrap text-center">

                                    <a 
                                        data-toggle="tooltip" 
                                        data-original-title="Eliminar"
                                        (click)="deleteUser( user )"
                                        class="cursor"
                                    > <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="txtTerm.value.length === 0" >
                    <button (click)="pageChange(-5)" class="btn btn-secondary" >Anterior</button>
                    &nbsp;
                    <button (click)="pageChange(5)" class="btn btn-secondary" >Siguiente</button>
                </div>
                

            </div>
        </div>
    </div>
</div>

